.main{
	width:200px;
	background-color:purple;
	padding:10px;
	border-left:5px solid green;
}
.heading{
	font-size:20px;
	color:white;
	text-decoration:underline;
	margin:0;
}
/* Your CSS Code here. */